@use "./base.scss";

/* 블로그 제목의 크기를 줄이기 */
header h1,
.page-title h1 {
  font-size: 1.8rem !important;
}

/* 메뉴(내비게이션)의 폰트 크기 줄이기 */
nav,
.menu,
.navbar {
  font-size: 0.8rem !important;
}

/* 메뉴 아이템 개별 조정 (클래스나 id에 따라) */
.menu-item {
  font-size: 0.7rem;
}

/* 블로그 전체 제목 조절 (예: 사이트의 메인 타이틀) */
.blog-title, 
.site-title {
  font-size: 1.4rem !important; /* 필요에 따라 값을 조정하세요 */
}

/* 포스트가 들어있는 폴더명 폰트 크기 줄이기 */
/*  */
.folder-button {
  font-size: 0.8rem !important;
}

.folder-outer open{
  font-size: 0.7rem !important;
}

.internal tag-link {
  font-size: 0.6rem !important;
}

.content {
  font-size: 0.7rem !important;
}

.content-meta {
  font-size: 0.6rem !important;
}
