@use "./base.scss";

header h1,
.page-header h1 {
  font-size: 1.75rem !important; /* 기본 크기보다 작게 조정 */
}

/* 메뉴(내비게이션)의 폰트 크기 줄이기 */
nav,
.menu,
.navbar {
  font-size: 0.8rem !important;
}

/* 메뉴 아이템 개별 조정 (클래스나 id에 따라) */
.menu-item {
  font-size: 0.8rem;
}

/* 포스트가 들어있는 폴더명 폰트 크기 줄이기 */
/*  */
.folder-button {
  font-size: 0.8rem !important;
}

.folder-outer open{
  font-size: 0.8rem !important;
}

.internal tag-link {
  font-size: 0.7rem !important;
}

.content {
  font-size: 0.8rem !important;
}

.content-meta {
  font-size: 0.8rem !important;
}
