@use "./base.scss";

.custom-box {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: 2px solid var(--interactive-accent);
  background-color: var(--background-secondary);
  color: var(--text-normal);
  line-height: 2.0;
}

/* ——— Light Theme ——— */
:root[saved-theme="light"] .custom-box {
  background-color: var(--background-primary);
  border-color: #000;
  color: #000;
}

/* ——— Dark Theme ——— */
:root[saved-theme="dark"] .custom-box {
  background-color: color-mix(in srgb, var(--interactive-accent) 20%, #000);
  border-color: var(--interactive-accent);
  color: var(--text-normal);
}
